main{
    width: 100%;
    display: flex;
    align-items: baseline;
    height: 100%;
    position: relative;
}

main nav{
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    background-color: lightgray;
}

main nav a{
    padding: 0.5rem 2rem;
    margin: 0.25rem;
    background-color: white;
}

article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

section{
    width: 100%;
    text-align: center;
    overflow-y: scroll;
}

.height100{
    height: 100%;
}

.courseItem {
    padding: 0.1rem;
    margin: 5px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    min-width: 300px;
    height: 250px;
    position: relative;
}

.courseItem p{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.courseItem input{
    position: absolute;
    bottom: 0;
    width: 90%;
}

.courseItem:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    position: sticky;
    background-color: white;
    border-bottom: 2px solid  lightgray;
    padding-bottom: 5px;
    top: 0;
    z-index: 2;
    height: max-content;
}

.search input[type='text']{
    min-width: 250px;
    width: 80%;
    max-width: 500px;
}

.search input, .search select{
    border-radius: 0;
    border: 1px solid black;
}

#toggleview{
    border: 1px solid black;
    margin-right: 10px;
    padding: 3px;
    background-color: antiquewhite;
}

#toggleview:hover{
    background-color: aliceblue ;
    cursor: pointer;
}

.list{
    width: 100% !important;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}