/*
  Name: Rob Tai, Michael Lezon, Riberiko Niyomwungere, David Ortega
  Date: 12.12.23
  This is css for the header.  Images removed due to inability to find the citations for the pics.
*/


header{
    width: 100%;
    background-color: black;
    min-height: 150px;
    height: 10%;
    background-image: url(../images/Students.jpeg);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
