header{
    width: 100%;
    background-color: black;
    min-height: 150px;
    height: 10%;
    background-image: url(../images/Students.jpeg);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    
}